body{
background-image: url(https://img.goodfon.ru/original/1920x1080/6/1b/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-15.jpg);
color: goldenrod;
font-family: italic, Helvetica, sans-serif;
display: flex;
justify-content: space-between;
}
.block{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    display: hidden;
}
.block2{
  flex: 1;  
  border: 2px solid red;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;    
}
.block4{
    flex: 1;  
    border: 2px solid red;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;    
}
.block6{
    flex: 1;  
    border: 2px solid red;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;    
}
.block8{
    flex: 1;  
    border: 2px solid red;
    padding: 20px;
    box-sizing: border-box;    
}
.cont{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: auto;
    margin-top: 250px;
}
.block10{
    flex: 1;  
    border: 2px solid red;
    padding: 20px;
    box-sizing: border-box; 
    margin-top: 260px;
}
