h1 {
    color: red;
    text-align: center;
}
.str {
text-align: center;
margin-top: 5%;
font-size: 33px;
border-style: dashed;
color: rgb(0, 229, 255);
}
h2 {
    text-align: center;
    color: bisque;
    font-size: 30px;
}
.cc {
    text-align: center;
    font-size: 25px;
    border-style: double;
    color: blue;

}
p {
    color: black;
}
.end {
    text-align: center;
    margin-top: 5%;
    color: purple;
    font-size: 40px;
}
.end2 {
    text-align: center;
    color: darkblue;
    font-size: 30px;
    margin-top: 7%;}
    body {
        background-image:  url(https://i.pinimg.com/originals/f4/d2/96/f4d2961b652880be432fb9580891ed62.png);
    }