
body {
    background-color: aquamarine;
    margin: 0;
}
h1 { 
    color: aqua;
    font-size: 30px;
}
h2 {
    text-align: center;
    color: rgb(124, 124, 238);
    font-size: 40px;
}
div {
    color: red;
max-width: 99%;
font-size: 30px;
border: 10px;
border-style: double;

}
.div2 {
    max-width: 99%;
    font-size: 30px;
    border: 8px;
    border-style: outset;  
    color: purple;
    background-color: rgb(0, 0, 0);
    margin-top: 10%;
}
.collor {
    color: white;
    font-size: 130%;
    margin-left: 46.5%;
    border-style: double;
    border-color: brown;
}
.div3 {
    margin-top: 10%;
    color:white;
    border-style: dashed;
}
.barbi {
    color: red;
    margin-top: 10%;
    
}
.fooball {
    margin-left: 80%;
    text-align: center;
    margin-top:10%;
    background-color: blanchedalmond;
}
.foot {
    color:blue;
    text-align: center;
    margin-left: 7%;
    margin-top: 10%;
    font-size: 100px;
    margin-bottom: 10%;
}
.foott {
    color: black;
    margin-left: 80%;
    text-align: center;
    margin-bottom: 30%;
    background-color: blanchedalmond;
    margin-top: 100%;
}
p {
    color: rgb(0, 0, 0);
}
table {
    text-align: center;
    margin-top: 10%;
    color: black;
}
.zad2 {
    color: rgba(255, 0, 230, 0.701);
}
.stolb {
    margin-left: 27%;
    font-style: italic;
    background-color: rgb(0, 234, 255);
}